[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
spivey = {ref = "develop", git = "https://github.com/alexcreek/spivey.git"}
requests = "*"
python-dotenv = "*"
influxdb-client = "==1.*"
pandas = "*"
openpyxl = "*"
apscheduler = "==3.8.*"
datadog = "*"
tzlocal = "==2.*"
twilio = "*"

[dev-packages]
pytest = "==6.2.*"
pytest-cov = "==2.12.*"
pylint = "==2.9.*"
ipython = "*"

[requires]
python_version = "3.8"
